/*
 * Bootstrap sample color:
 * primary: #007bff
 * secondary: #6c757d
 */

.item-selected {
  border-right: 4px solid #007bff !important;
}

.item-not-selected {
  border-right: 4px solid white !important;
}

.search-input {
  position: relative;
}

.search-input>input {
  border-radius: 2rem;
  text-indent: 2rem;
}

.search-input>i.fa-search {
  position: absolute;
  top: 0.45rem;
  left: 0.65rem;
  font-size: 1rem;
  color: #6c757d !important;
}

.search-input>i.fa-loading {
  position: absolute;
  top: 0.45rem;
  right: 0.65rem;
  font-size: 1rem;
}

.tooltip-overlay {
  font-size: 80%;
  padding: 0 !important;
}

.tooltip-overlay .ant-tooltip-arrow {
  display: none;
}

.textarea-sm {
  font-size: 80%;
  resize: none;
}

.font-size-sm {
  font-size: 80%;
}

.toastify-progress-custom {
  height: 1px !important;
  background: #6c757d !important;
}

/* Thread Hover */

.thread .thread-action>div {
  opacity: 0;
}

.thread:hover .thread-action>div {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
}

.thread:hover .thread-action>div:hover {
  opacity: 1;
  -webkit-transition: 0.2s;
  /* Safari */
  transition: 0.2s;
}

.text-divider {
  margin: 1rem 0;
  line-height: 0;
  text-align: center;
}

.text-divider span {
  background-color: white;
  padding-bottom: 1rem;
}

.text-divider:after {
  content: " ";
  display: block;
  border-bottom: 1px solid #f7f7f7;
}