.bg-dark a {
  color: white!important;
}

.cursor-disabled {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.focus-highlight-disabled {
  outline: 0;
}

.inline-input-border {
  border-left: 0!important;
  border-right: 0!important;
  border-top: 0!important;
  border-radius: 0!important;
  box-shadow: none!important;
}

.mw-55 {
  max-width: 55%;
}

.object-fit-cover {
  object-fit: cover;
}

.round-circle {
  border-radius: 1rem!important;
}

.round-input {
  border-radius: 2rem!important;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.text-primary-hover:hover {
  color: #007bff!important;
}